@import url('https://fonts.googleapis.com/css?family=Muli');

.comments-list .media {
    border-bottom: 2px dotted #cccccc;
}

.regulation {
  margin-left: 20px
}

.categories {
  margin-left: 15px
}

.user_name {
    font-size:14px;
    font-weight: bold;
}

body {
   border: 0;
   padding: 0;
   margin:4px 0 0 0;
	 position:absolute;
	 width:100&#37;;
	 z-index:10;
}

header, .full-width {
  width: 100%;
}

.wrap {
  width: 100%;
  max-width: 120em;
  margin: 0 auto;
}

#container {
   border: 0;
   padding: 0;
   margin: 0;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

.tab-content {
  font-size:16px;
}

.topper {
  background-color: #EEEEEE;
  width:100%;
  padding-top: 10px;
  padding-bottom: 15px;
}

.nav-tabs {
  font-size:15px;
  padding-top: 30px;
}

.titlename {
  display: inline;
  border-bottom:0px solid #000;
  color: #191970;
  font-size: 60px;
  font-family: "Muli", sans-serif;
  font-weight: Hairline;
}

.subtitle {
  float: center;
  display: inline;
  color: #ff6666;
  font-size: 30px;
  font-family: "Muli";
  font-weight: Light;
}
