@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

.comments-list{
    border-bottom: 2px dotted #cccccc;
}

.header1 {
  font-size: 35px;
  font-family: 'Muli';
  padding-bottom: 10px;
}
#Navbar {
  background-color: #2A2D4A;
  color: white;
}

.btn-default {
  font-size: 16px;
}
.vote-wrapper{
  float:'left' !important;
  width:"50%" !important;
}]
.regulation {
  margin-left: 20px
}
.regulation-title {
  color: #191970;
  font-size: 30px;
  font-family: 'Muli';
  font-weight: Bold;
  padding-bottom: 10px;
  padding-top: 15px;
}
.regulation-summary {
  color: #696F75;
  font-size: 16px;
  font-family: 'Muli';
  padding-bottom: 5px;
}

.reg-other {
  color: #f05959;
  font-size: 18px;
  font-family: 'Muli';
  padding-bottom: 0px;
  font-weight: Bold;
}
.reg-detail-flag {
  color: #5e5a5a;
  font-size: 41px;
  font-family: 'Muli';
  font-weight: Bold;
  padding-bottom: 0px;
  padding-top: 20px;
}
.reg-text {
  color: #696F75;
  font-family: 'Muli';
}
.categories {
  margin-left: 15px
}

.user_name {
    font-size:14px;
    font-weight: bold;
}

body {
   border: 0;
   padding: 0;
   margin:4px 0 0 0;
	 position:absolute;
	 width:100&#37;;
	 z-index:10;
}

header, .full-width {
  width: 100%;
}

.wrap {
  width: 100%;
  max-width: 120em;
  margin: 0 auto;
}

#container {
   border: 0;
   padding: 0;
   margin: 0;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

.tab-content {
  font-size:15px;
  padding-left: 40px;
  padding-right: 40px;
}

.topper {
  background-color: #EEEEEE;
  width:100%;
  padding-top: 10px;
  padding-bottom: 15px;
}

.nav-tabs {
  font-size:14px;
  padding-top: 30px;
}

.titlename {
  display: inline;
  border-bottom:0px solid #000;
  color: #191970;
  font-size: 60px;
  font-family: "Muli", sans-serif;
  font-weight: Hairline;
}

.subtitle {
  float: center;
  display: inline;
  color: #f05959;
  font-size: 30px;
  font-family: "Muli";
  font-weight: Light;
}

.vote-count {
  text-align:center !important;
  display: inline;
  font-size: 50px;
  color: #f05959;
  font-family: "Muli";
  padding:50px;
}

.vote-text {
  padding-left: 35px;
  padding-bottom: 10px;
  text-align:center;
  display: inline;
  font-size: 14px;
  color: #black;
  font-family: "Muli";
  font-weight: bold;
}
