.btn-space {
    margin-right: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.btn-main {
  color: #FDFBF2;
  background-color: #0A4C51;
  border-color: none;
  font-size: 20px;
}

.btn-cat {
  color: #1E767A;
  background-color: #D1E7DF;
  border-color: none;
  font-size: 20px;
}

.comments-list .media {
    border-bottom: 2px dotted #cccccc;
}

.regulation {
  margin-left: 20px
}

.categories {
  margin-left: 15px
}

.user_name {
    font-size:14px;
    font-weight: bold;
}

body, html {
   border: 0;
   padding: 0;
   margin: 0;
}
#container {
   border: 0;
   padding: 0;
   margin: 0;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}
